<br><br>
<div class="col-md-12">
	<div class="jumbotron">
		<h2>
			Welcome to the admin app
		</h2>
		<p>
			You need to be logged in to upadte the database. Please ignore if you are already logged in. Thank you.
		</p>
	</div>
</div>
